/* Search Block */

.search_container {
    background: url('../../assets/searchBox-bg.jpg') center/cover no-repeat;
    height: 253px;
}

.search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 92px 22px;
    box-sizing: border-box;
}

.input_block {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 866px;
    width: 100%;
    background-color: white;
    padding: 0 35px;
    min-width: 300px;
}

.search_input {
    width: 100%;
    outline: none;
    height: 70px;
    border: none;
    font-size: 24px;
    font-weight: 300;
}

.search_input::placeholder {
    color: black;
}

.search_btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.search_icon {
    width: 23px;
    height: 23px;
}

/* Gallery Block */

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 114px 50px 5px 50px;
}

/* Scroll Button */

.scroll_btn {
    z-index: 1;
    width: 49px;
    height: 49px;
    padding: 5px;
    position: fixed;
    bottom: 80px;
    right: 40px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.arrow_ic {
    display: block;
    width: 39px;
    height: 40px;
    background: url('../../assets/up-arrow-svgrepo-com.svg') center/contain no-repeat;
}

/* Loader */

.loader_box {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.loader {
    width: 38px;
    height: 38px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1380px) {

    /* Gallery Block */
    .gallery {
        padding-top: 70px;
    }

    /* Scroll Button */
    .scroll_btn {
        width: 40px;
        height: 40px;
        right: 17px;
    }

    .arrow_ic {
        width: 29px;
        height: 30px;
    }
}

@media screen and (max-width: 920px) {
     /* Gallery Block */
     .gallery {
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    /* Search Block */
    .search_container {
        height: 230px;
    }

    .search_box {
        padding: 80px 22px;
    }

    .input_block {
        padding: 0 25px;
    }
}

@media screen and (max-width: 667px) {
    /* Gallery Block */
    .gallery {
        padding-right: 0;
        padding-left: 0;
    }

    /* Scroll Button */
    .scroll_btn {
        bottom: 40px;
        width: 36px;
        height: 36px;
    }

    .arrow_ic {
        width: 26px;
        height: 26px;
    }
}