.photo_page_container {
    position: relative;
}

.bg_container {
    width: 100%;
    height: 744px;
    z-index: 1;
    position: absolute;

}

.photo_img_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.photo_container {
    z-index: 2;
    position: relative;
    padding: 0 40px 100px;
}

/* Photo Header */

.photo_header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_box {
    display: flex;
    align-items: center;
}

.avatar_img {
    display: block;
    width: 55px;
    height: 55px;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 10px;
}

.username_text {
    color: #F2F2F2;
    font-size: 30px;
    line-height: 35.16px;
    font-weight: 400;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.social_username {
    color: #F2F2F2;
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 400;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.btn_box {
    display: flex;
}

.add_fav_btn {
    width: 49px;
    height: 49px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 12px;
    margin-right: 20px;
}

.fav_ic {
    display: block;
    width: 24px;
    height: 22px;
    background: url('../../assets/favorites_icon_black.png') center/contain no-repeat;
}

.download_btn {
    display: flex;
    align-items: center;
    width: 206px;
    border-radius: 8px;
    background-color: #FFF200;
    border: none;
    padding-left: 23px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download_btn:hover {
    background-color: #fcdf14;
}

.download_ic {
    display: block;
    width: 26px;
    height: 22px;
    background: url('../../assets/download_icon.png') center/contain no-repeat;
    margin-right: 16px;
}

.download_btn_text {
    font-size: 20px;
    line-height: 23.44px;
}

/* Photo Body */

.photo_box {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 744px;
    overflow: hidden;
    box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.49);
    border-radius: 8px;
}

.photo_box_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 40%;
}

.maximize_ic {
    position: absolute;
    display: block;
    background: url('../../assets/maximize.png') center/contain no-repeat;
    width: 30px;
    height: 30px;
    bottom: 33px;
    right: 40px;
    cursor: pointer;
}

.download_loader {
    width: 70px;
    height: 70px;
    border: 7px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader_position {
    position: absolute;
    top: 50%;
}

@media screen and (max-width: 768px) {
    .bg_container {
        display: none;
    }

    .photo_container {
        padding: 0 20px 273px;
    }

    /* Photo Header */

    .avatar_img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .username_text {
        color: #000;
        font-size: 18px;
        line-height: 21.09px;
        text-shadow: none;
    }

    .social_username {
        color: #BDBDBD;
        font-size: 14px;
        text-shadow: none;
        line-height: 16.71px;
    }

    .add_fav_btn {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .fav_ic {
        display: block;
        width: 20px;
        height: 18px;
    }

    .download_btn {
        display: block;
        width: 40px;
        height: 40px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .download_ic {
        display: block;
        width: 21px;
        height: 18px;
        margin-right: 0;
    }

    .download_btn_text {
        display: none;
    }

    /* Photo Body */

    .photo_box {
        max-height: 550px;
        box-shadow: none;
    }

    .loader {
        width: 50px;
        height: 50px;
        border: 5px solid white;
        border-bottom-color: transparent;
    }
}

@media screen and (max-width: 576px) {
    .photo_box {
        max-height: 277px;
    }
    .maximize_ic {
        width: 24px;
        height: 24px;
        bottom: 8px;
        right: 8px;
    }
    .loader {
        width: 38px;
        height: 38px;
    }
}