body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1479px;
  margin: 0 auto;
}

.divider {
  height: 16px;
  background-color: #C4C4C4;
}

@media screen and (max-width: 768px) {
  .divider {
      display: none;
  }
}